@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

* {
    font-family: 'Walter Turncoat', cursive;
    font-weight: 900;
    color: red;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: 7vh;
}

h1, h2, h3, p {
    width: 133vh;
    text-align: center;
}

.overlay   {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255 , 0.6);
  opacity: 1;
} 

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -10000;
}

h2 {
    font-size: 6vh;
    margin-top: -5vh;
}

p{
    font-size: 5vh;
    margin-top: -5vh;
}

a {
    position: fixed;
    bottom: 1vh;
}
