* {
    font-family: 'Walter Turncoat', cursive;
    font-weight: 900;
    color: red;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: 7vh;
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -10000;
}

p, a{
    width: 133vh;
    display: block;
}

#timecontainer {
    margin-top: 20vh;
}

a{
    margin-top: 10vh;
}

#header {
    font-size: 8vh;
}