#plane1 {
    left: 123.8vh;
    top: 44vh;
    height: 22vh;
}

#plane2 {
    left: 126.7vh;
    top: 0.8vh;
    height: 14vh;
}

#plane3 {

}

#plane4 {

}

#plane5 {

}

#plane6 {

}

#plane7 {

}

#plane8 {

}

#plane9 {

}