#plane1 {
    left: 123.8vh;
    top: 44vh;
    height: 22vh;
}

#plane2 {
    left: 126.7vh;
    top: 0.8vh;
    height: 14vh;
}

#plane3 {
    left: 76.5vh;
    top: 2.5vh;
    height: 9vh;
}

#plane4 {
    left: 45.7vh;
    top: 3.2vh;
    height: 12vh;
}

#plane5 {
    left: 1.7vh;
    top: 1.8vh;
    height: 9vh;
}

#plane6 {
    left: 43vh;
    top: 11.4vh;
    height: 16.5vh;
}

#plane7 {
    left: 91.7vh;
    top: 20vh;
    height: 20vh;
}

#plane8 {
    left: 52.7vh;
    top: 21.65vh;
    height: 13.7vh;
}

#plane9 {
    left: 122.3vh;
    top: 31vh;
    height: 13vh;
}


#plane10 {
    left: 131vh;
    top: 22vh;
    height: 6vh;
}

#plane11 {
    left: 90vh;
    height: 7vh;
    top: 4.5vh;
}