.pic {
    position: fixed;
    width: 15vw;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.item {
    position: fixed;
}

.greyscale {
    filter: grayscale(100%);
}

.pop {
    animation: pop 2s ease;
}

@keyframes pop {
    50%  {
        transform: scale(1.3, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
    }
}