@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

* {
    font-family: 'Walter Turncoat', cursive;
    font-weight: 900;
    color: red;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    font-size: 7vh;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.messageBox {
    position: fixed;
    top: 54vh;
    width: 133vh;
    text-align: center;
    animation: pop 4s ease-in-out;
}

#counter {
    position: fixed;
    bottom: -7vh;
    left: 1vh;
}

#info {
    position: fixed;
    bottom: -7vh;
    width: 133vh;
    text-align: center;
}

#points {
    position: fixed;
    bottom: 4vh;
    width: 133vh;
    text-align: center;
    z-index: 100;
    line-height: 10vh;
}

#pointsNumber {
    display: inline-block;
}

#timer {
    position: fixed;
    bottom: -7vh;
}

#startBtn{
    position: fixed;
    text-decoration: none;
    font-size: 20vh;
    text-align: center;
    width: 133vh;
    top: 60vh;
}

#tutorialBtn {
    position: fixed;
    text-decoration: none;
    font-size: 7vh;
    text-align: center;
    width: 133vh;
    top: 20vh;
}

#timeBtn {
    position: fixed;
    text-decoration: none;
    font-size: 7vh;
    text-align: center;
    width: 133vh;
    top: 40vh;
}

.item {
    position: fixed;
}

.black {
    filter: brightness(0%);
}

.pop {
    animation: pop 2s ease;
}

.popNumber {
    animation: popNumber 1.5s ease;
}

.popNumberFast {
    animation: popNumber 0.5s ease;
}

#newPoints {
    font-size: 10vh;
    width: 100px;
    display: inline-block;
}

#counterNumber {
    display: inline-block;
}

@keyframes pop {
    50%  {
        transform: scale(1.3, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
    }
}

@keyframes popNumber {
    50%  {
        transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -webkit-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
    }
}

audio {
    display: none;
}