#name {
    font-size: 5vh;
    width: 50vh;
    margin-left: 40vh;
    height: 6vh;
    border: 2px red solid;
    border-radius: 1vh;
    padding: 1vh;
}

.overlay   {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255 , 0.6);
  opacity: 1;
}

p {
    margin-top: 1vh;
}
